*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(img/cosmic-timetraveler--SFhuMwFClk-unsplash.jpg);
    height: 100vh;
    background-size: 100% 100%;
    overflow: hidden;
}

.container{
    margin: 50px 50px;
    display: flex;
    gap: 50px;
}

.drag-item-list{
   height: fit-content;
   padding: 15px;
   background-color: rgba(56, 50, 54, 0.491);
    font-size: 1.3rem;
    flex: 1;
    border-radius: 5px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.436);
    overflow: hidden;
    height: fit-content;
}


.drag-item{
    background: rgb(113, 127, 198);
    color: white;
    list-style-type: none;
    border-radius: 5px;
    padding: 5px 0;
    margin-top: 10px;
    text-align: center;
    max-height: 130px;
    overflow-y: auto;
}

.current-item{
    opacity: 0.5;
}